<div class="container">
    <form action="" class="form" [formGroup]="mathform">
        <!-- <div class="field is-grouped">
        <input type="text" class="input" formControlName="a">
        <span>+</span>
        <input type="text" class="input" formControlName="b">
        <span>=</span>
        <input type="text" class="input" formControlName="answer">
    </div> -->
      {{a}}+{{b}}=
      <input appHighlight type="text" class="input" formControlName="answer">
    </form>
    {{secondpersolution | number :'1.1-3' }}
<hr>
<div> form valid={{mathform.valid}}</div>
<div> fprm values={{mathform.value | json}}</div>
<div> form errors= {{mathform.errors| json}}</div>
</div>
 

